.navbar {
  background-color: blue;
  padding: 40px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-brand a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.navbar-items a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar-items a:hover {
  color:black; 
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar-items {
    margin-top: 10px;
  }

  .navbar-items a {
    display: block;
    margin: 5px 0;
  }
}
